.about-us {
  padding: 100px 150px;
  height: 87vh;
  background-color: #0f4e82;
  color: white;
  &-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
    .title {
      font-size: 72px;
      font-weight: bold;
    }
    .description {
      font-size: 24px;
      width: 840px;
      align-self: center;
    }
  }
  &-bottom {
    display: flex;
    justify-content: center;
    .vision {
      padding-right: 100px;
    }
    .mission {
      padding-left: 100px;
    }
    .vision,
    .mission {
      text-align: center;
      display: flex;
      flex-direction: column;
      .image {
        .yellow-circle {
          z-index: 1;
        }
        &-mission,
        &-vision {
          position: absolute;
        }
        // &-mission {
        //   transform: translate(29px, -18px);
        //   animation: moveAni1 1s;
        // }
        // &-vision {
        //   transform: translate(-29px, 18px);
        //   animation: moveAni2 1s;
        // }
        img {
          align-self: center;
          height: 100px;
          width: 100px;
        }
      }
      .title {
        font-size: 36px;
        font-weight: bold;
      }
      .description {
        width: 280px;
        font-size: 24px;
      }
    }
  }
}

.moveAni1 {
  transform: translate(29px, -18px);
  animation: moveAni2 2s;
  animation-fill-mode: forwards;
}

.moveAni2 {
  transform: translate(29px, -18px);
  animation: moveAni1 2s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 850px) {
  .about-us {
    height: 750px;
    padding: 40px 40px;
    &-info {
      .title {
        font-size: 30px;
      }
      .description {
        font-size: 15px;
        width: 300px;
        font-weight: bold;
      }
    }
    &-bottom {
      flex-direction: column;
    }
    .vision,
    .mission {
      padding: 0;
      .title {
        margin-top: 20px;
        font-size: 18px;
      }
      .description {
        font-size: 15px;
        align-self: center;
        font-weight: bold;
      }
    }
    .mission {
      margin-top: 50px;
    }
  }
}

@keyframes moveAni1 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(29px, -18px);
  }
}
@keyframes moveAni2 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-29px, 18px);
  }
}
