.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  .logo,
  ul {
    align-self: center;
  }
  .logo {
    display: flex;
    font-size: 30px;
    img {
      width: 75px;
    }
    &-text {
      color: #2a4d69;
      align-self: center;
      margin-left: 10px;
    }
  }
  ul {
    li:first-child {
      margin-right: 30px;
    }
    font-size: 24px;
    margin-left: 10px;
    color: #535353;
    display: flex;
  }
}

#banner {
  height: 87vh;
  display: flex;
  overflow: hidden;
  background-color: #f5f7e1;
  justify-content: space-between;
  .slogan {
    position: absolute;
    z-index: 1;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    &-1 {
      line-height: 40px;
      color: black;
      font-size: 36px;
    }
    &-2 {
      margin-top: 20px;
      font-size: 24px;
      font-weight: 100;
    }
  }
  .circle {
    position: relative;
    left: 30vw;
    &-01 {
      position: relative;
      background-color: #d9e3d6;
      border-radius: 60%;
      /* left: 583px; */
      bottom: 190px;
      width: 1300px;
      height: 1200px;
    }
    &-02 {
      position: relative;
      background-color: #c1d1cc;
      /* opacity: 0.11; */
      border-radius: 50%;
      left: 163px;
      bottom: -75px;
      width: 1000px;
      height: 1000px;
    }
    &-03 {
      position: absolute;
      background-color: #acc1c3;
      /* opacity: 0.11; */
      border-radius: 50%;
      left: 300px;
      bottom: 234px;
      width: 750px;
      height: 750px;
    }
    &-04 {
      position: absolute;
      background-color: #99b3bb;
      /* opacity: 0.11; */
      border-radius: 50%;
      left: 377px;
      bottom: 305px;
      width: 600px;
      height: 600px;
    }
    .images {
      position: absolute;
      background-color: #99b3bb;
      /* opacity: 0.11; */
      border-radius: 50%;
      left: 377px;
      bottom: 305px;
      width: 600px;
      height: 600px;
      .light {
        position: relative;
        right: -44px;
        bottom: -29px;
        width: 84%;
      }
      .money {
        position: absolute;
        right: 110px;
        bottom: 216px;
        width: 12%;
      }
      .wifi {
        position: absolute;
        right: 391px;
        bottom: 128px;
        width: 12%;
      }
      .target {
        position: absolute;
        right: 357px;
        bottom: 258px;
        width: 13%;
      }
      .diagram {
        position: absolute;
        right: 391px;
        bottom: 473px;
        width: 10%;
      }
      .handshake {
        position: absolute;
        right: 197px;
        bottom: 290px;
        width: 9%;
      }
      .innovation {
        position: absolute;
        right: 166px;
        bottom: 131px;
        width: 9%;
      }
      .network {
        position: absolute;
        right: 178px;
        bottom: 490px;
        width: 9%;
      }
      .cogwheel {
        position: absolute;
        right: 465px;
        bottom: 368px;
        width: 12%;
      }
    }
  }
  .image {
    img {
      width: 1200px;
      position: relative;
      bottom: 175px;
      left: 35vw;
    }
  }
  // .circle-03 {
  //   position: relative;
  //   background-color: #2a4d69;
  //   opacity: 0.11;
  //   border-radius: 50%;
  //   left: 583px;
  //   bottom: 150px;
  //   width: 1300px;
  //   height: 1200px;
  //   &-01 {
  //     background-color: #2a4d69;
  //     width:1000px
  //   }
  // }
}

@media screen and (max-width: 900px) {
  .header {
    padding: 20px 40px;
  }
  .logo {
    font-size: 20px !important;
    img {
      width: 40px !important;
    }
  }
  ul {
    li:first-child {
      margin-right: 0px;
    }
    font-size: 20px !important;
  }
  #banner {
    height: 85vh;
    .slogan {
      margin-left: 40px;
      margin-top: 200px;
      &-1 {
        line-height: 30px;
        color: black;
        font-size: 30px;
      }
      &-2 {
        margin-top: 20px;
        font-weight: 100;
        color: #535353;
      }
    }
    .image {
      img {
        width: 103vw;
        position: relative;
        bottom: 5px;
        left: 25vw;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    ul {
      display: none;
    }
  }
  #banner {
    height: 550px;
    .slogan {
      margin-left: 20px;
      margin-top: 50px;
      &-1 {
        line-height: 30px;
        color: black;
        font-size: 30px;
      }
      &-2 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 100;
        width: 134px;
        color: #535353;
      }
    }
    .image {
      img {
        width: 142vw;
        position: relative;
        bottom: 5px;
        left: 10vw;
      }
    }
  }
}

footer {
  .bg-blue {
    background-color: #2a4d69; //main color
  }
  .w-full {
    width: 100%;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .ml-auto {
    margin-left: auto;
  }
  .mt-auto {
    margin-top: auto;
  }
  .flex {
    display: flex;
  }
  .flex.layout-row {
    flex-direction: row;
  }
  .co-white {
    color: white;
  }
  .fs-13 {
    font-size: 13px;
  }
  .fs-35 {
    font-size: 35px;
  }
  .footer {
    padding: 30px 5px;
    width: 1000px;
    margin: auto;
  }
  .social-links {
    img {
      width: 30px;
    }
  }
  .address {
    width: calc(100% - 300px);
  }
  .inline {
    display: inline-block;
  }
  @media screen and (max-width: 1000px) {
    .footer {
      width: 100%;
    }
  }

  @media screen and (max-width: 640px) {
    .inline {
      display: block;
      width: 100%;
    }
    .address {
      padding: 5px;
    }
    .footer {
      padding: 15px 5px;
      text-align: center;
    }
  }
}
