.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 1000px;
  margin: auto;
  position: relative;
  .logo,
  ul {
    align-self: center;
  }
  .logo {
    display: flex;
    font-size: 30px;
    img {
      width: 200px;
    }
    &-text {
      color: #2a4d69;
      align-self: center;
      margin-left: 10px;
    }
  }
  ul {
    li:first-child {
      margin-right: 30px;
    }
    a {
      color: #535353;
    }
    font-size: 24px;
    margin-left: 10px;
    display: flex;
  }
  a:hover {
    color: black;
    cursor: pointer;
  }
  a:active {
    color: lighten(black, 50);
  }
}
@media screen and (max-width: 1000px) {
  .header {
    width: 100%;
    padding: 10px 50px;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
#banner {
  display: flex;
  overflow: hidden;
  background-color: #f5f7e1;
  justify-content: space-between;
  // .typewriter {
  //   overflow: hidden; /* Ensures the content is not revealed until the animation */
  //   border-right: .15em solid orange; /* The typwriter cursor */
  //   white-space: nowrap; /* Keeps the content on a single line */
  //   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  //   letter-spacing: .15em; /* Adjust as needed */
  //   animation:
  //     typing 3.5s steps(40, end),
  //     blink-caret .75s step-end infinite;
  // }
  .slogan {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    text-align: left !important;
    &-1 {
      line-height: 40px;
      color: black;
      font-size: 36px;
    }
    &-2 {
      font-family: "Roboto Mono";
      margin-top: 20px;
      font-size: 24px;
      font-weight: 100;
    }
  }
  .circle {
    position: relative;
    left: 30vw;
    &-01 {
      position: relative;
      background-color: #d9e3d6;
      border-radius: 60%;
      /* left: 583px; */
      bottom: 190px;
      width: 1300px;
      height: 1200px;
    }
    &-02 {
      position: relative;
      background-color: #c1d1cc;
      /* opacity: 0.11; */
      border-radius: 50%;
      left: 163px;
      bottom: -75px;
      width: 1000px;
      height: 1000px;
    }
    &-03 {
      position: absolute;
      background-color: #acc1c3;
      /* opacity: 0.11; */
      border-radius: 50%;
      left: 300px;
      bottom: 234px;
      width: 750px;
      height: 750px;
    }
    &-04 {
      position: absolute;
      background-color: #99b3bb;
      /* opacity: 0.11; */
      border-radius: 50%;
      left: 377px;
      bottom: 305px;
      width: 600px;
      height: 600px;
    }
    .images {
      position: absolute;
      background-color: #99b3bb;
      /* opacity: 0.11; */
      border-radius: 50%;
      left: 377px;
      bottom: 305px;
      width: 600px;
      height: 600px;
      .light {
        position: relative;
        right: -44px;
        bottom: -29px;
        width: 84%;
      }
      .money {
        position: absolute;
        right: 110px;
        bottom: 216px;
        width: 12%;
      }
      .wifi {
        position: absolute;
        right: 391px;
        bottom: 128px;
        width: 12%;
      }
      .target {
        position: absolute;
        right: 357px;
        bottom: 258px;
        width: 13%;
      }
      .diagram {
        position: absolute;
        right: 391px;
        bottom: 473px;
        width: 10%;
      }
      .handshake {
        position: absolute;
        right: 197px;
        bottom: 290px;
        width: 9%;
      }
      .innovation {
        position: absolute;
        right: 166px;
        bottom: 131px;
        width: 9%;
      }
      .network {
        position: absolute;
        right: 178px;
        bottom: 490px;
        width: 9%;
      }
      .cogwheel {
        position: absolute;
        right: 465px;
        bottom: 368px;
        width: 12%;
      }
    }
  }
  .image {
    display: flex;
    justify-content: flex-end;
    img {
      width: 60vmax;
      position: relative;
      left: 15vmax;
    }
  }
  // .circle-03 {
  //   position: relative;
  //   background-color: #2a4d69;
  //   opacity: 0.11;
  //   border-radius: 50%;
  //   left: 583px;
  //   bottom: 150px;
  //   width: 1300px;
  //   height: 1200px;
  //   &-01 {
  //     background-color: #2a4d69;
  //     width:1000px
  //   }
  // }
}
.flex {
  display: flex;
}
.flex.center {
  justify-content: center;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.layout-row {
  flex-direction: row;
}
.flex.layout-column {
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 10px 40px;
  }
  .logo {
    font-size: 20px !important;
    img {
      width: 140px !important;
    }
  }
  ul {
    li:first-child {
      margin-right: 0px;
    }
    font-size: 20px !important;
  }
  #banner {
    height: 85vh;
    .slogan {
        margin-top: 20vmax;
      &-1 {
        line-height: 30px;
        color: black;
        font-size: 30px;
      }
      &-2 {
        margin-top: 20px;
        font-weight: 100;
        color: #535353;
      }
    }
    .image {
      img {
        width: 60vmax;
        position: relative;
      }
    }
  }
}

.hiring {
  height: 600px;
  margin: auto;
  position: relative;
  .hiring-title {
    position: absolute;
    font-size: 40px;
    top: 10%;
    color: #0f4e82;
  }
  .btn-hiring {
    &:hover {
      transform: translateY(-8px);
      transition: 0.4s linear;
      box-shadow: 5px 5px lighten($color: #0f4e82, $amount: 50%);
    }
    color: white;
    background-color: #0f4e82;
    width: 40%;
    display: inline-block;
    border-radius: 35px;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    margin-left: 60px;
    transition: 0.5s linear;
  }

  .hiring-pic {
    width: 60%;
    margin-left: auto;
    position: absolute;
    bottom: 80px;
    right: 60px;
  }
  @media screen and (max-width: 1400px) {
    .hiring-title {
      font-size: 27px;
      top: 120px;
    }
  }

  @media screen and (max-width: 1000px) {
    .hiring-title {
      top: 10%;
    }
  }
  @media screen and (max-width: 900px) {
    .hiring-title {
      left: 50px;
    }
    .hiring-pic {
      bottom: 40px;
    }
  }

  @media screen and (max-width: 640px) {
    .hiring-pic {
      width: 100%;
      padding: 10px;
      position: unset;
      margin-top: 40px;
    }
    .hiring-title {
      padding-top: 0;
      position: unset;
      margin-top: 40px;
    }
    .btn-hiring {
      margin: auto;
      margin-top: 20px;
    }
  }
}
.bg-hiring {
  background-color: var(--secondary);
  border-radius: 180px 0 0 0;
}

@media screen and (max-width: 900px) {
  .hiring {
    height: 500px;
  }
  .float {
    font-size: 15px !important;
    width: 230px !important;
  }
}
@media screen and (max-width: 640px) {
  .hiring {
    text-align: center;
    height: unset;
    padding: 20px 0;
  }
}
.hidden {
  display: none;
}
.show-contact {
  position: absolute;
  padding: 20px;
  width: 340px;
  font-size: 20px;
  right: 0;
  top: 120px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 1;
  box-shadow: 0 30px 100px -20px rgba(50, 50, 70, 0.5), 0 30px 50px -30px rgba(0, 0, 0, 0.2),
    0 15px 60px 0 rgba(0, 0, 0, 0.01);
}
.ml-auto {
  margin-left: auto;
}
.tool-tip {
  position: absolute;
  border-bottom: 25px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  top: -24px;
  right: 40px;
}
@media screen and (max-width: 1000px) {
  .show-contact {
    right: 150px;
  }
}
@media screen and (max-width: 900px) {
  .show-contact {
    right: 40px;
    top: 80px;
  }
  .tool-tip {
    right: 28px;
  }
}
body {
  position: relative;
}
.mb-20 {
  margin-bottom: 20px;
}
.floating {
  position: fixed;
  bottom: 30px;
  right: 20px;
  //display: none;
  .btn {
    width: 70px;
    height: 70px;
    padding: 20px;
    border: 1px solid #b2b2b2;
    border-radius: 50px;
    background-color: #fff;
  }
  .btn:hover {
    background-color: #0f4e82;
    img {
      filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(270deg) brightness(105%) contrast(101%);
    }
  }
  .float {
    top: 0;
    right: 85px;
  }
  img {
    filter: invert(12%) sepia(92%) saturate(3435%) hue-rotate(195deg) brightness(97%) contrast(88%);
  }
}
.bg-project {
  background-color: #f2f5d0;
  border-radius: 0 0 250px 0;
}
.project {
  position: relative;
  height: 330px;
  .project-pic {
    bottom: 0;
    left: 10px;
    width: 50%;
    margin-bottom: 135px;
  }
  @media screen and (max-width: 900px) {
    .project-pic {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .project-summary {
    width: 60%;
    margin: 0 0 20px auto;
    position: absolute;
    right: 20px;
    bottom: -100px;
    background-color: #0f4e82;
    color: #fff;
    padding: 20px 50px;
    border-radius: 40px;
    text-align: center;
    font-size: 24px;
  }
  @media screen and (max-width: 900px) {
    .project-summary {
      width: 100%;
      padding: 10px;
      position: unset;
      margin: 0;
    }
  }
  @media screen and (max-width: 640px) {
    .project-summary {
      color: #868686;
      font-size: 15px;
      background-color: unset;
    }
  }
}

@media screen and (max-width: 640px) {
  .project {
    margin-bottom: 0 !important;
  }
}
.cursor-pointer:hover {
  cursor: pointer;
}

.our-project > div:nth-child(2) {
  height: 700px;
  position: relative;
}

.feature {
  max-width: 300px;
  align-self: center;
  padding: 20px;
  height: 280px;
  border: 1px solid #b2b2b2;
  margin: 20px 15px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px #ededed;
  -webkit-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  &:hover {
    height: 280px;
    transition: all 0.5s ease-in-out;
    transform: translate(0, -20px);
    box-shadow: 10px 10px #ededed;
  }
  &:hover .feature-pic {
    margin-top: 0px;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
  }
  &:hover .feature-pic img {
    width: 40%;
    transition: all 0.5s ease-in-out;
  }
  &:hover .feature-name {
    font-size: 30px;
    transition: all 0.5s ease-in-out;
  }
  &:hover .feature-des {
    opacity: 1;
    height: 150px;
    transition: all 0.5s ease-in-out;
  }
  .feature-pic {
    width: 70%;
    margin: 28px auto;
    -webkit-transition: all 0.5s ease-in-out;
    img {
      height: 100px;
      width: 50%;
      -webkit-transition: all 0.5s ease-in-out;
    }
  }
  .feature-name {
    font-size: 20px;
    color: #2a4d69;
    font-weight: bold;
    -webkit-transition: all 0.5s ease-in-out;
  }
  .feature-des {
    margin-bottom: 20px;
    color: black;
    opacity: 0;
    height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
  }
}
.layout {
  width: 1000px;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  .feature:nth-child(4),
  .feature:nth-child(5) {
    align-self: flex-start;
  }
}
@media screen and (max-width: 1000px) {
  .layout {
    width: 100%;
    padding: 40px 50px;
  }
}
@media screen and (max-width: 900px) {
  .layout {
    padding: 0px 40px 40px 40px;
    text-align: center;
  }
}
// @media screen and (max-width: 425px) {
//   #banner {
//     height: 400px;
//   }
//   .layout {
//     padding: 0px 40px 40px 40px;
//     text-align: center;
//   }
// }
.mb-100 {
  margin-bottom: 100px;
}

@media screen and (max-width: 970px) {
  .our-project > div:nth-child(2) {
    height: 1200px;
  }
}
@media screen and (max-width: 720px) {
  .our-project > div:nth-child(2) {
    height: 1800px;
  }
}


@media screen and (max-width: 425px) {
  .header {
    padding: 10px 20px;
    ul {
      display: none;
    }
  }
  
  #banner {
    height: 65vh; 
    .layout {
      padding: 40px;
    }
    .slogan {
      margin-top: 0px;
      &-1 {
        line-height: 30px;
        color: black;
        font-size: 30px;
      }
      &-2 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 100;
        width: 150px;
        color: #535353;
      }
    }
    .image {
      img {
        opacity: 0.8;
        top: 10px;
        left: 5vh;
      }
    }
  }
}