.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  width: 1000px;
  margin: auto;
  position: relative;
}

.header .logo,
.header ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
}

.header .logo img {
  width: 200px;
}

.header .logo-text {
  color: #2a4d69;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
}

.header ul {
  font-size: 24px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul li:first-child {
  margin-right: 30px;
}

.header ul a {
  color: #535353;
}

.header a:hover {
  color: black;
  cursor: pointer;
}

.header a:active {
  color: gray;
}

@media screen and (max-width: 1000px) {
  .header {
    width: 100%;
    padding: 20px 150px;
  }
}

#banner {
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #f5f7e1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner .slogan {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
  text-align: left !important;
}

#banner .slogan-1 {
  line-height: 40px;
  color: black;
  font-size: 36px;
}

#banner .slogan-2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 100;
}

#banner .circle {
  position: relative;
  left: 30vw;
}

#banner .circle-01 {
  position: relative;
  background-color: #d9e3d6;
  border-radius: 60%;
  /* left: 583px; */
  bottom: 190px;
  width: 1300px;
  height: 1200px;
}

#banner .circle-02 {
  position: relative;
  background-color: #c1d1cc;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 163px;
  bottom: -75px;
  width: 1000px;
  height: 1000px;
}

#banner .circle-03 {
  position: absolute;
  background-color: #acc1c3;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 300px;
  bottom: 234px;
  width: 750px;
  height: 750px;
}

#banner .circle-04 {
  position: absolute;
  background-color: #99b3bb;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 377px;
  bottom: 305px;
  width: 600px;
  height: 600px;
}

#banner .circle .images {
  position: absolute;
  background-color: #99b3bb;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 377px;
  bottom: 305px;
  width: 600px;
  height: 600px;
}

#banner .circle .images .light {
  position: relative;
  right: -44px;
  bottom: -29px;
  width: 84%;
}

#banner .circle .images .money {
  position: absolute;
  right: 110px;
  bottom: 216px;
  width: 12%;
}

#banner .circle .images .wifi {
  position: absolute;
  right: 391px;
  bottom: 128px;
  width: 12%;
}

#banner .circle .images .target {
  position: absolute;
  right: 357px;
  bottom: 258px;
  width: 13%;
}

#banner .circle .images .diagram {
  position: absolute;
  right: 391px;
  bottom: 473px;
  width: 10%;
}

#banner .circle .images .handshake {
  position: absolute;
  right: 197px;
  bottom: 290px;
  width: 9%;
}

#banner .circle .images .innovation {
  position: absolute;
  right: 166px;
  bottom: 131px;
  width: 9%;
}

#banner .circle .images .network {
  position: absolute;
  right: 178px;
  bottom: 490px;
  width: 9%;
}

#banner .circle .images .cogwheel {
  position: absolute;
  right: 465px;
  bottom: 368px;
  width: 12%;
}

#banner .image img {
  width: 1200px;
  position: relative;
  bottom: 175px;
  right: -11vw;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex.layout-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 20px 40px;
  }
  .logo {
    font-size: 20px !important;
  }
  .logo img {
    width: 140px !important;
  }
  ul {
    font-size: 20px !important;
  }
  ul li:first-child {
    margin-right: 0px;
  }
  #banner {
    height: 85vh;
  }
  #banner .slogan {
    margin-left: 40px;
    margin-top: 20vmax;
  }
  #banner .slogan-1 {
    line-height: 30px;
    color: black;
    font-size: 30px;
  }
  #banner .slogan-2 {
    margin-top: 20px;
    font-weight: 100;
    color: #535353;
  }
  #banner .image img {
    width: 103vw;
    position: relative;
    bottom: 5px;
    left: 25vw;
  }
}

@media screen and (max-width: 500px) {
  .header ul {
    display: none;
  }
  #banner {
    height: 550px;
  }
  #banner .slogan {
    margin-left: 20px;
    margin-top: 50px;
  }
  #banner .slogan-1 {
    line-height: 30px;
    color: black;
    font-size: 30px;
  }
  #banner .slogan-2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 100;
    width: 134px;
    color: #535353;
  }
  #banner .image img {
    width: 142vw;
    position: relative;
    bottom: 5px;
    left: 10vw;
  }
}

footer .bg-blue {
  background-color: #0f4e82;
}

footer .w-full {
  width: 100%;
}

footer .mr-10 {
  margin-right: 10px;
}

footer .mr-15 {
  margin-right: 15px;
}

footer .ml-10 {
  margin-left: 10px;
}

footer .ml-auto {
  margin-left: auto;
}

footer .mt-auto {
  margin-top: auto;
}

footer .co-white {
  color: white;
}

footer .fs-13 {
  font-size: 13px;
}

footer .fs-35 {
  font-size: 35px;
}

footer .footer {
  padding: 30px 0px;
  width: 1000px;
  margin: auto;
}

footer .social-links img {
  width: 30px;
}

footer .address {
  width: calc(100% - 300px);
}

footer .inline {
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  footer .footer {
    padding: 30px 40px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  footer .header {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 640px) {
  footer .inline {
    display: block;
    width: 100%;
  }
  footer .address {
    padding: 5px;
  }
  footer .footer {
    padding: 15px 5px;
    text-align: center;
  }
}

.hiring {
  height: 600px;
  margin: auto;
  position: relative;
}

.hiring .hiring-title {
  position: absolute;
  font-size: 40px;
  top: 10%;
  color: #0f4e82;
}

.hiring .btn-hiring {
  color: white;
  background-color: #0f4e82;
  width: 40%;
  display: inline-block;
  border-radius: 35px;
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.hiring .btn-hiring:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-box-shadow: 5px 5px #9cccf4;
          box-shadow: 5px 5px #9cccf4;
}

.hiring .hiring-pic {
  width: 60%;
  margin-left: auto;
  position: absolute;
  bottom: 80px;
  right: 60px;
}

@media screen and (max-width: 1400px) {
  .hiring .hiring-title {
    font-size: 27px;
    top: 120px;
  }
}

@media screen and (max-width: 1000px) {
  .hiring .hiring-title {
    top: 10%;
  }
}

@media screen and (max-width: 900px) {
  .hiring .hiring-title {
    left: 50px;
  }
  .hiring .hiring-pic {
    bottom: 40px;
  }
}

@media screen and (max-width: 640px) {
  .hiring .hiring-pic {
    width: 100%;
    padding: 10px;
    position: unset;
    margin-top: 40px;
  }
  .hiring .hiring-title {
    padding-top: 0;
    position: unset;
    margin-top: 40px;
  }
  .hiring .btn-hiring {
    margin: auto;
    margin-top: 20px;
  }
}

.bg-hiring {
  background-color: #f2f5d0;
  border-radius: 180px 0 0 0;
}

@media screen and (max-width: 900px) {
  .hiring {
    height: 500px;
  }
  .float {
    font-size: 15px !important;
    width: 230px !important;
  }
}

@media screen and (max-width: 640px) {
  .hiring {
    text-align: center;
    height: unset;
    padding: 20px 0;
  }
}

.hidden {
  display: none;
}

.show-contact {
  position: absolute;
  padding: 20px;
  width: 300px;
  font-size: 20px;
  right: 0;
  top: 85px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 1;
  -webkit-box-shadow: 0 30px 100px -20px rgba(50, 50, 70, 0.5), 0 30px 50px -30px rgba(0, 0, 0, 0.2), 0 15px 60px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 30px 100px -20px rgba(50, 50, 70, 0.5), 0 30px 50px -30px rgba(0, 0, 0, 0.2), 0 15px 60px 0 rgba(0, 0, 0, 0.01);
}

.ml-auto {
  margin-left: auto;
}

.tool-tip {
  position: absolute;
  border-bottom: 25px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  top: -24px;
  right: 40px;
}

@media screen and (max-width: 1000px) {
  .show-contact {
    right: 150px;
  }
}

@media screen and (max-width: 900px) {
  .show-contact {
    right: 40px;
    top: 80px;
  }
  .tool-tip {
    right: 28px;
  }
}

body {
  position: relative;
}

.mb-20 {
  margin-bottom: 20px;
}

.floating {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.floating .btn {
  width: 70px;
  height: 70px;
  padding: 20px;
  border: 1px solid #b2b2b2;
  border-radius: 50px;
  background-color: #fff;
}

.floating .float {
  top: 0;
  right: 85px;
}

.bg-project {
  background-color: #f2f5d0;
  border-radius: 0 0 250px 0;
}

.video {
  width: 1000px;
  padding: 30px 50px;
  margin: auto;
}

.video video {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .video .dummy {
    width: 100%;
    height: 50vw;
  }
}

@media screen and (max-width: 1000px) {
  .video {
    width: 100%;
  }
}

.project {
  position: relative;
  height: 330px;
}

.project .project-pic {
  bottom: 0;
  left: 10px;
  width: 50%;
  margin-bottom: 135px;
}

@media screen and (max-width: 900px) {
  .project .project-pic {
    width: 100%;
    margin-bottom: 10px;
  }
}

.project .project-summary {
  width: 60%;
  margin: 0 0 20px auto;
  position: absolute;
  right: 20px;
  bottom: -100px;
  background-color: #0f4e82;
  color: #fff;
  padding: 20px 50px;
  border-radius: 40px;
  text-align: center;
  font-size: 24px;
}

@media screen and (max-width: 900px) {
  .project .project-summary {
    width: 100%;
    padding: 10px;
    position: unset;
    margin: 0;
  }
}

@media screen and (max-width: 640px) {
  .project .project-summary {
    color: #868686;
    font-size: 15px;
    background-color: unset;
  }
}

@media screen and (max-width: 640px) {
  .project {
    margin-bottom: 0 !important;
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

.our-project > div:nth-child(2) {
  height: 700px;
  position: relative;
}

.feature {
  max-width: 280px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
  height: 280px;
  border: 1px solid #b2b2b2;
  margin: 20px 20px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px #ededed;
          box-shadow: 1px 1px #ededed;
  -webkit-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.feature:hover {
  height: 280px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  -webkit-box-shadow: 10px 10px #ededed;
          box-shadow: 10px 10px #ededed;
}

.feature:hover .feature-pic {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feature:hover .feature-pic img {
  width: 40%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feature:hover .feature-name {
  font-size: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feature:hover .feature-des {
  opacity: 1;
  height: 150px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feature .feature-pic {
  width: 70%;
  margin: 28px auto;
  -webkit-transition: all 0.5s ease-in-out;
}

.feature .feature-pic img {
  height: 100px;
  width: 50%;
  -webkit-transition: all 0.5s ease-in-out;
}

.feature .feature-name {
  font-size: 20px;
  color: #2a4d69;
  font-weight: bold;
  -webkit-transition: all 0.5s ease-in-out;
}

.feature .feature-des {
  margin-bottom: 20px;
  color: black;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
}

.layout {
  width: 1000px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .layout {
    width: 100%;
    padding: 40px 50px;
  }
}

@media screen and (max-width: 900px) {
  .layout {
    padding: 40px;
    text-align: center;
  }
}

.mb-100 {
  margin-bottom: 100px;
}

@media screen and (max-width: 970px) {
  .our-project > div:nth-child(2) {
    height: 1200px;
  }
}

@media screen and (max-width: 720px) {
  .our-project > div:nth-child(2) {
    height: 1800px;
  }
}
/*# sourceMappingURL=header.css.map */