.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 150px;
}

.header .logo,
.header ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
}

.header .logo img {
  width: 75px;
}

.header .logo-text {
  color: #2a4d69;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
}

.header ul {
  font-size: 24px;
  margin-left: 10px;
  color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul li:first-child {
  margin-right: 30px;
}

#banner {
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #f5f7e1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner .slogan {
  position: absolute;
  z-index: 1;
  margin-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
}

#banner .slogan-1 {
  line-height: 40px;
  color: black;
  font-size: 36px;
}

#banner .slogan-2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 100;
}

#banner .circle {
  position: relative;
  left: 30vw;
}

#banner .circle-01 {
  position: relative;
  background-color: #d9e3d6;
  border-radius: 60%;
  /* left: 583px; */
  bottom: 190px;
  width: 1300px;
  height: 1200px;
}

#banner .circle-02 {
  position: relative;
  background-color: #c1d1cc;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 163px;
  bottom: -75px;
  width: 1000px;
  height: 1000px;
}

#banner .circle-03 {
  position: absolute;
  background-color: #acc1c3;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 300px;
  bottom: 234px;
  width: 750px;
  height: 750px;
}

#banner .circle-04 {
  position: absolute;
  background-color: #99b3bb;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 377px;
  bottom: 305px;
  width: 600px;
  height: 600px;
}

#banner .circle .images {
  position: absolute;
  background-color: #99b3bb;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 377px;
  bottom: 305px;
  width: 600px;
  height: 600px;
}

#banner .circle .images .light {
  position: relative;
  right: -44px;
  bottom: -29px;
  width: 84%;
}

#banner .circle .images .money {
  position: absolute;
  right: 110px;
  bottom: 216px;
  width: 12%;
}

#banner .circle .images .wifi {
  position: absolute;
  right: 391px;
  bottom: 128px;
  width: 12%;
}

#banner .circle .images .target {
  position: absolute;
  right: 357px;
  bottom: 258px;
  width: 13%;
}

#banner .circle .images .diagram {
  position: absolute;
  right: 391px;
  bottom: 473px;
  width: 10%;
}

#banner .circle .images .handshake {
  position: absolute;
  right: 197px;
  bottom: 290px;
  width: 9%;
}

#banner .circle .images .innovation {
  position: absolute;
  right: 166px;
  bottom: 131px;
  width: 9%;
}

#banner .circle .images .network {
  position: absolute;
  right: 178px;
  bottom: 490px;
  width: 9%;
}

#banner .circle .images .cogwheel {
  position: absolute;
  right: 465px;
  bottom: 368px;
  width: 12%;
}

#banner .image img {
  width: 1200px;
  position: relative;
  bottom: 175px;
  left: 35vw;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 20px 40px;
  }
  .logo {
    font-size: 20px !important;
  }
  .logo img {
    width: 40px !important;
  }
  ul {
    font-size: 20px !important;
  }
  ul li:first-child {
    margin-right: 0px;
  }
  #banner {
    height: 85vh;
  }
  #banner .slogan {
    margin-left: 40px;
    margin-top: 20vmax;
  }
  #banner .slogan-1 {
    line-height: 30px;
    color: black;
    font-size: 30px;
  }
  #banner .slogan-2 {
    margin-top: 20px;
    font-weight: 100;
    color: #535353;
  }
  #banner .image img {
    width: 103vw;
    position: relative;
    bottom: 5px;
    left: 25vw;
  }
}

@media screen and (max-width: 500px) {
  .header ul {
    display: none;
  }
  #banner {
    height: 550px;
  }
  #banner .slogan {
    margin-left: 20px;
    margin-top: 50px;
  }
  #banner .slogan-1 {
    line-height: 30px;
    color: black;
    font-size: 30px;
  }
  #banner .slogan-2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 100;
    width: 134px;
    color: #535353;
  }
  #banner .image img {
    width: 142vw;
    position: relative;
    bottom: 5px;
    left: 10vw;
  }
}

footer .bg-blue {
  background-color: #2a4d69;
}

footer .w-full {
  width: 100%;
}

footer .mr-10 {
  margin-right: 10px;
}

footer .mr-15 {
  margin-right: 15px;
}

footer .ml-10 {
  margin-left: 10px;
}

footer .ml-auto {
  margin-left: auto;
}

footer .mt-auto {
  margin-top: auto;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex.layout-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .co-white {
  color: white;
}

footer .fs-13 {
  font-size: 13px;
}

footer .fs-35 {
  font-size: 35px;
}

footer .footer {
  padding: 30px 150px;
  width: 100%;
  margin: auto;
}

footer .social-links img {
  width: 30px;
}

footer .address {
  width: calc(100% - 300px);
}

footer .inline {
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  footer .footer {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 900px) {
  footer .header {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 640px) {
  footer .inline {
    display: block;
    width: 100%;
  }
  footer .address {
    padding: 5px;
  }
  footer .footer {
    padding: 15px 5px;
    text-align: center;
  }
}

.hiring {
  padding: 50px 150px;
  width: 100%;
  margin: auto;
  position: relative;
}

.hiring .hiring-title {
  position: absolute;
  font-size: 40px;
  top: 10%;
  left: 20%;
  color: #2A4D69;
}

.hiring .btn-hiring {
  color: white;
  background-color: #2A4D69;
  width: 40%;
  display: inline-block;
  border-radius: 35px;
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
}

.hiring .hiring-pic {
  width: 700px;
  margin-left: auto;
}

@media screen and (max-width: 1400px) {
  .hiring .hiring-title {
    font-size: 27px;
    left: 260px;
    top: 120px;
  }
}

@media screen and (max-width: 1200px) {
  .hiring .hiring-pic {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .hiring .hiring-title {
    left: 150px;
    top: 10%;
  }
}

@media screen and (max-width: 900px) {
  .hiring .hiring-title {
    left: 50px;
  }
}

@media screen and (max-width: 640px) {
  .hiring .hiring-pic {
    width: 100%;
    padding: 10px;
  }
  .hiring .hiring-title {
    padding-top: 0;
    position: unset;
  }
  .hiring .btn-hiring {
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 640px) {
  .hiring {
    padding: 15px 5px;
    text-align: center;
  }
  .bg-hiring {
    background-image: none !important;
  }
}

@media screen and (max-width: 900px) {
  .hiring {
    padding: 40px;
  }
}
/*# sourceMappingURL=header.css.map */