.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 150px;
  position: relative;
}

.header .logo,
.header ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
}

.header .logo img {
  width: 75px;
}

.header .logo-text {
  color: #2a4d69;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
}

.header ul {
  font-size: 24px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul li:first-child {
  margin-right: 30px;
}

.header ul a {
  color: #535353;
}

.header a:hover {
  color: black;
  cursor: pointer;
}

.header a:active {
  color: gray;
}

#banner {
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #f5f7e1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner .slogan {
  position: absolute;
  z-index: 1;
  margin-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
}

#banner .slogan-1 {
  line-height: 40px;
  color: black;
  font-size: 36px;
}

#banner .slogan-2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 100;
}

#banner .circle {
  position: relative;
  left: 30vw;
}

#banner .circle-01 {
  position: relative;
  background-color: #d9e3d6;
  border-radius: 60%;
  /* left: 583px; */
  bottom: 190px;
  width: 1300px;
  height: 1200px;
}

#banner .circle-02 {
  position: relative;
  background-color: #c1d1cc;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 163px;
  bottom: -75px;
  width: 1000px;
  height: 1000px;
}

#banner .circle-03 {
  position: absolute;
  background-color: #acc1c3;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 300px;
  bottom: 234px;
  width: 750px;
  height: 750px;
}

#banner .circle-04 {
  position: absolute;
  background-color: #99b3bb;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 377px;
  bottom: 305px;
  width: 600px;
  height: 600px;
}

#banner .circle .images {
  position: absolute;
  background-color: #99b3bb;
  /* opacity: 0.11; */
  border-radius: 50%;
  left: 377px;
  bottom: 305px;
  width: 600px;
  height: 600px;
}

#banner .circle .images .light {
  position: relative;
  right: -44px;
  bottom: -29px;
  width: 84%;
}

#banner .circle .images .money {
  position: absolute;
  right: 110px;
  bottom: 216px;
  width: 12%;
}

#banner .circle .images .wifi {
  position: absolute;
  right: 391px;
  bottom: 128px;
  width: 12%;
}

#banner .circle .images .target {
  position: absolute;
  right: 357px;
  bottom: 258px;
  width: 13%;
}

#banner .circle .images .diagram {
  position: absolute;
  right: 391px;
  bottom: 473px;
  width: 10%;
}

#banner .circle .images .handshake {
  position: absolute;
  right: 197px;
  bottom: 290px;
  width: 9%;
}

#banner .circle .images .innovation {
  position: absolute;
  right: 166px;
  bottom: 131px;
  width: 9%;
}

#banner .circle .images .network {
  position: absolute;
  right: 178px;
  bottom: 490px;
  width: 9%;
}

#banner .circle .images .cogwheel {
  position: absolute;
  right: 465px;
  bottom: 368px;
  width: 12%;
}

#banner .image img {
  width: 1200px;
  position: relative;
  bottom: 175px;
  left: 35vw;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 20px 40px;
  }
  .logo {
    font-size: 20px !important;
  }
  .logo img {
    width: 40px !important;
  }
  ul {
    font-size: 20px !important;
  }
  ul li:first-child {
    margin-right: 0px;
  }
  #banner {
    height: 85vh;
  }
  #banner .slogan {
    margin-left: 40px;
    margin-top: 20vmax;
  }
  #banner .slogan-1 {
    line-height: 30px;
    color: black;
    font-size: 30px;
  }
  #banner .slogan-2 {
    margin-top: 20px;
    font-weight: 100;
    color: #535353;
  }
  #banner .image img {
    width: 103vw;
    position: relative;
    bottom: 5px;
    left: 25vw;
  }
}

@media screen and (max-width: 500px) {
  .header ul {
    display: none;
  }
  #banner {
    height: 550px;
  }
  #banner .slogan {
    margin-left: 20px;
    margin-top: 50px;
  }
  #banner .slogan-1 {
    line-height: 30px;
    color: black;
    font-size: 30px;
  }
  #banner .slogan-2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 100;
    width: 134px;
    color: #535353;
  }
  #banner .image img {
    width: 142vw;
    position: relative;
    bottom: 5px;
    left: 10vw;
  }
}

footer .bg-blue {
  background-color: #0F4E82;
}

footer .w-full {
  width: 100%;
}

footer .mr-10 {
  margin-right: 10px;
}

footer .mr-15 {
  margin-right: 15px;
}

footer .ml-10 {
  margin-left: 10px;
}

footer .ml-auto {
  margin-left: auto;
}

footer .mt-auto {
  margin-top: auto;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex.layout-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .co-white {
  color: white;
}

footer .fs-13 {
  font-size: 13px;
}

footer .fs-35 {
  font-size: 35px;
}

footer .footer {
  padding: 30px 150px;
  width: 100%;
  margin: auto;
}

footer .social-links img {
  width: 30px;
}

footer .address {
  width: calc(100% - 300px);
}

footer .inline {
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  footer .footer {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 900px) {
  footer .header {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 640px) {
  footer .inline {
    display: block;
    width: 100%;
  }
  footer .address {
    padding: 5px;
  }
  footer .footer {
    padding: 15px 5px;
    text-align: center;
  }
}

.hiring {
  padding: 50px 150px;
  width: 100%;
  height: 50vw;
  margin: auto;
  position: relative;
}

.hiring .hiring-title {
  position: absolute;
  font-size: 40px;
  top: 10%;
  color: #0F4E82;
}

.hiring .btn-hiring {
  color: white;
  background-color: #0F4E82;
  width: 40%;
  display: inline-block;
  border-radius: 35px;
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
}

.hiring .hiring-pic {
  width: 60%;
  margin-left: auto;
  position: absolute;
  bottom: 80px;
  right: 60px;
}

@media screen and (max-width: 1400px) {
  .hiring .hiring-title {
    font-size: 27px;
    top: 120px;
  }
}

@media screen and (max-width: 1000px) {
  .hiring .hiring-title {
    top: 10%;
  }
}

@media screen and (max-width: 900px) {
  .hiring .hiring-title {
    left: 50px;
  }
  .hiring .hiring-pic {
    bottom: 40px;
  }
}

@media screen and (max-width: 640px) {
  .hiring .hiring-pic {
    width: 100%;
    padding: 10px;
    position: unset;
    margin-top: 40px;
  }
  .hiring .hiring-title {
    padding-top: 0;
    position: unset;
    margin-top: 40px;
  }
  .hiring .btn-hiring {
    margin: auto;
    margin-top: 20px;
  }
}

.bg-hiring {
  background-color: #F2F5D0;
  border-radius: 180px 0 0 0;
}

@media screen and (max-width: 640px) {
  .hiring {
    padding: 15px 5px;
    text-align: center;
    height: unset;
  }
}

@media screen and (max-width: 900px) {
  .hiring {
    padding: 40px;
  }
  .float {
    font-size: 15px !important;
    width: 230px !important;
  }
}

.hidden {
  display: none;
}

.show-contact {
  position: absolute;
  padding: 20px;
  width: 300px;
  font-size: 20px;
  right: 55px;
  top: 100px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 1;
  -webkit-box-shadow: 0 30px 100px -20px rgba(50, 50, 70, 0.5), 0 30px 50px -30px rgba(0, 0, 0, 0.2), 0 15px 60px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 30px 100px -20px rgba(50, 50, 70, 0.5), 0 30px 50px -30px rgba(0, 0, 0, 0.2), 0 15px 60px 0 rgba(0, 0, 0, 0.01);
}

.ml-auto {
  margin-left: auto;
}

.tool-tip {
  position: absolute;
  border-bottom: 25px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  top: -24px;
  right: 125px;
}

@media screen and (max-width: 900px) {
  .show-contact {
    right: 40px;
    top: 80px;
  }
  .tool-tip {
    right: 28px;
  }
}

body {
  position: relative;
}

.mb-20 {
  margin-bottom: 20px;
}

.floating {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.floating .btn {
  width: 70px;
  height: 70px;
  padding: 20px;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  background-color: #fff;
}

.floating .float {
  top: 0;
  right: 85px;
}

.bg-project {
  background-color: #F2F5D0;
  border-radius: 0 0 250px 0;
}

.video {
  padding: 30px 50px;
}

.video .dummy {
  width: 100%;
  height: 50vw;
  background-color: #535353;
}

.project {
  padding: 40px 150px 40px 150px;
  position: relative;
}

.project .project-our {
  font-size: 72px;
}

.project .project-pic {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 45%;
}

@media screen and (max-width: 640px) {
  .project .project-pic {
    display: none;
  }
}

.project .project-summary {
  width: 68%;
  max-width: 585px;
  right: 0;
  margin: 0 0 20px auto;
}

.project .project-summary .project-link {
  font-size: 72px;
}

.project .project-summary .project-des {
  background-color: #0F4E82;
  color: #fff;
  font-size: 24px;
  padding: 20px;
  border-radius: 20px;
  margin: 0 50px 0 100px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .project .project-summary .project-link {
    font-size: 30px;
  }
}

@media screen and (max-width: 640px) {
  .project .project-summary .project-des {
    margin: auto;
    color: #868686;
    background-color: unset;
    max-width: 370px;
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .project .project-summary {
    width: 100%;
    padding: 10px;
    position: unset;
    margin-top: 0;
  }
  .project .project-our {
    font-size: 30px;
  }
  .project .project-pic {
    width: 35%;
  }
}

@media screen and (min-width: 1000px) {
  .project {
    height: 46vw;
  }
}

@media screen and (max-width: 900px) {
  .project {
    padding-left: 130px;
  }
}

@media screen and (max-width: 640px) {
  .project {
    padding: 40px;
    text-align: center;
  }
}
/*# sourceMappingURL=header.css.map */