.jobs {
  background-color: #fff;
}

.jobs .job {
  width: 220px;
  padding: 16px;
  height: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #b2b2b2;
  margin: 20px 15px;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}

.jobs .job .job-position {
  height: 30px;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.jobs .job .job-name {
  font-size: 36px;
  margin-top: 25px;
  line-height: 37px;
  color: #696969;
}

.jobs .job .tags {
  margin-top: auto;
  font-size: 12px;
}

.jobs .job .tags span {
  padding: 0 10px;
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.jobs .job .tags span:hover {
  color: #fff;
  background-color: #b2b2b2;
}

.jobs .job:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-box-shadow: 5px 5px #e9e9e9;
          box-shadow: 5px 5px #e9e9e9;
}

.job-des {
  display: none;
  padding: 20px 30px 40px 30px;
  margin: 20px 0;
  background-color: #fff;
  text-align: left;
}

.job-des .job-name {
  font-size: 36px;
}

.job-des .tags {
  margin-top: 20px;
  font-size: 12px;
}

.job-des .tags span {
  padding: 0 10px;
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.job-des .tags span:hover {
  color: #fff;
  background-color: #b2b2b2;
}

.job-des .job-subtitle {
  margin-top: 20px;
  font-size: 24px;
  color: #0f4e82;
}

.job-des .job-detail {
  font-size: 16px;
  color: #535353;
}

@media screen and (max-width: 640px) {
  .job-des {
    padding: 20px 15px 40px 15px;
  }
}

.recruit-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.recruit-banner .recruit-slogan {
  position: absolute;
  font-size: 36px;
  left: 8%;
  top: 51%;
  color: dimgrey;
}

.recruit-banner .recruit-img {
  width: 100%;
}

.form {
  margin: 20px auto;
  background-color: #fff;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.form #form-title {
  font-size: 24px;
  color: #0f4e82;
  text-align: center;
  margin-bottom: 15px;
}

.form .form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form .form-info .left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .form-info .right {
  width: 45%;
  margin-left: auto;
}

.form .form-info .left span,
.form .form-info .right span {
  display: inline-block;
  width: 110px;
}

.form .form-info .left input,
.form .form-info .right input {
  width: 100%;
}

.form .form-info .left textarea,
.form .form-info .right textarea {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .form .form-info .left,
  .form .form-info .right {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .form .form-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form button {
  color: white;
  background-color: #0f4e82;
  padding: 10px;
  font-size: 16px;
  width: 150px;
  margin: 10px auto 5px auto;
  display: inline-block;
  border-radius: 35px;
  text-align: center;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

@media screen and (max-width: 1000px) {
  .full-1000 {
    width: 100%;
    padding: 10px 0;
  }
  .form {
    margin: auto;
  }
}

#recruitbanner {
  padding: 0;
}

body {
  background-color: #e9e9e9;
}

header {
  background-color: #fff;
}

footer {
  margin-top: 150px;
}
/*# sourceMappingURL=recruit.css.map */