.about-us-container {
  background-image: url('../../images/gogojungle-logo.png');
  background-size: 60%;
  background-position: 60% 30%;
  background-repeat: no-repeat;
}

@media all and (max-width: 767px) {
  .about-us-container {
    background-size: 80%;
  } 
}