.intro {
  height: 540px;
}
.tsparticles-canvas-el {
  transform: scale(1);
  opacity: 1;
  animation: appear 1.4s 1;
  animation-fill-mode: forwards
}
@-webkit-keyframes appear {
  from {
    transform: scale(0);
    opacity: 0
  }
  to {
    transform: scale(1);
    opacity: 1
  }
}
//small
// @media screen and (max-width: 763px) {
// }

// medium
// @media screen and (min-width: 764px), screen and (max-width: 1023px) {
//   .typewriter-sm, .typewriter-lg {
//     display: none;
//   }
//   .typewriter-md {
//     display: block;
//   }
// }

// // large
// @media screen and (min-width: 1024px) {
//   .typewriter-sm, .typewriter-md {
//     display: none;
//   }
//   .typewriter-lg {
//     display: block;
//   }
// }
